center(w)
  position: absolute
  left: 50%
  top: @left
  width: w
  height: w
  margin-left: -(w / 2)
  margin-top: @margin-left

circle(args...)
  center: args[0]
  box-sizing: border-box
  background-color: transparent
  border: 1px args[1] #fff
  border-radius: 50%

ani-delay(time)
  animation-delay: time
