@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot?ltnp53');
  src: url('./fonts/icomoon.eot?ltnp53#iefix') format('embedded-opentype'),
       url('./fonts/icomoon.ttf?ltnp53') format('truetype'),
       url('./fonts/icomoon.woff?ltnp53') format('woff'),
       url('./fonts/icomoon.svg?ltnp53#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-space_class:before {
  content: "\e91c";
}
.icon-achievement .path1:before {
  content: "\e91d";
  color: rgb(1, 200, 160);
}
.icon-achievement .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(253, 158, 27);
}
.icon-activity:before {
  content: "\e91f";
}
.icon-studio:before {
  content: "\e920";
}
.icon-event:before {
  content: "\e921";
  color: #6ecd37;
}
.icon-honor:before {
  content: "\e922";
  color: #e98f36;
}
.icon-cup:before {
  content: "\e923";
}
.icon-space_teacher:before {
  content: "\e924";
}
.icon-teaching-dis:before {
  content: "\e925";
}
.icon-teaching-research:before {
  content: "\e926";
  color: #00508f;
}
.icon-edu:before {
  content: "\e927";
}
.icon-feature .path1:before {
  content: "\e928";
  color: rgb(178, 118, 217);
}
.icon-feature .path2:before {
  content: "\e929";
  margin-left: -1.00390625em;
  color: rgb(224, 201, 239);
}
.icon-course:before {
  content: "\e92a";
}
.icon-hexagon:before {
  content: "\e92b";
}
.icon-lagou:before {
  content: "\e92c";
}
.icon-practice:before {
  content: "\e92d";
}
.icon-project:before {
  content: "\e92e";
}
.icon-interests:before {
  content: "\e92f";
}
.icon-excellence:before {
  content: "\e930";
}
.icon-space_student:before {
  content: "\e931";
}
.icon-school:before {
  content: "\e932";
}
.icon-cooperation:before {
  content: "\e933";
}
.icon-3D-print:before {
  content: "\e935";
}
.icon-VR-maker .path1:before {
  content: "\e936";
  color: rgb(234, 198, 187);
}
.icon-VR-maker .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(234, 198, 187);
}
.icon-VR-maker .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-VR-maker .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-VR-maker .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-VR-maker .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-VR-maker .path7:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(101, 109, 120);
}
.icon-programming-modeling:before {
  content: "\e93d";
  color: #fab619;
}
.icon-culture:before {
  content: "\e93e";
}
.icon-space:before {
  content: "\e93f";
}
.icon-train:before {
  content: "\e940";
}
.icon-GUC .path1:before {
  content: "\e941";
  color: rgb(59, 67, 73);
}
.icon-GUC .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(59, 67, 73);
}
.icon-GUC .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(33, 162, 211);
}
.icon-GUC .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(164, 199, 63);
}
.icon-tool:before {
  content: "\e945";
}
.icon-industry .path1:before {
  content: "\e946";
  color: rgb(230, 140, 73);
}
.icon-industry .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(67, 130, 188);
}
.icon-robot:before {
  content: "\e948";
  color: #4285f4;
}
.icon-plan:before {
  content: "\e949";
}
.icon-aesthetic-edu .path1:before {
  content: "\e94a";
  color: rgb(197, 221, 131);
}
.icon-aesthetic-edu .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(57, 181, 74);
}
.icon-aesthetic-edu .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(130, 207, 130);
}
.icon-aesthetic-edu .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(232, 232, 232);
}
.icon-aesthetic-edu .path5:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(128, 182, 128);
}
.icon-aesthetic-edu .path6:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-aesthetic-edu .path7:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(128, 182, 128);
}
.icon-aesthetic-edu .path8:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-aesthetic-edu .path9:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(128, 182, 128);
}
.icon-aesthetic-edu .path10:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-woodworking:before {
  content: "\e955";
}
.icon-modeling:before {
  content: "\e956";
}
.icon-contest:before {
  content: "\e958";
}
.icon-programme:before {
  content: "\e959";
}
.icon-cloud-platform:before {
  content: "\e95b";
}
.icon-consult:before {
  content: "\e95d";
}
.icon-platform_eval .path1:before {
  content: "\e95e";
  color: rgb(248, 55, 100);
}
.icon-platform_eval .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-maker_service:before {
  content: "\e960";
  color: #d4237a;
}
.icon-platform_manage .path1:before {
  content: "\e961";
  color: rgb(243, 91, 60);
}
.icon-platform_manage .path2:before {
  content: "\e962";
  margin-left: -0.99609375em;
  color: rgb(255, 255, 255);
}
.icon-platform_manage .path3:before {
  content: "\e963";
  margin-left: -0.99609375em;
  color: rgb(248, 211, 205);
}
.icon-platform_manage .path4:before {
  content: "\e964";
  margin-left: -0.99609375em;
  color: rgb(248, 211, 205);
}
.icon-platform_manage .path5:before {
  content: "\e965";
  margin-left: -0.99609375em;
  color: rgb(253, 134, 70);
}
.icon-platform_manage .path6:before {
  content: "\e966";
  margin-left: -0.99609375em;
  color: rgb(234, 124, 117);
}
.icon-common_share:before {
  content: "\e967";
}
.icon-platform_study:before {
  content: "\e968";
  color: #ff9ea5;
}
.icon-topic .path1:before {
  content: "\e969";
  color: rgb(204, 204, 204);
}
.icon-topic .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(160, 161, 162);
}
.icon-topic .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(248, 252, 255);
}
.icon-topic .path4:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(239, 242, 244);
}
.icon-topic .path5:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-topic .path6:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(122, 195, 225);
}
.icon-topic .path7:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(59, 175, 218);
}
.icon-topic .path8:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(122, 195, 225);
}
.icon-topic .path9:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(54, 168, 198);
}
.icon-topic .path10:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(122, 195, 225);
}
.icon-topic .path11:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(59, 175, 218);
}
.icon-topic .path12:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(27, 168, 206);
}
.icon-topic .path13:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(122, 195, 225);
}
.icon-topic .path14:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(59, 175, 218);
}
.icon-topic .path15:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(126, 173, 66);
}
.icon-topic .path16:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(140, 193, 82);
}
.icon-topic .path17:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(239, 242, 244);
}
.icon-topic .path18:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(124, 56, 188);
}
.icon-topic .path19:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(124, 56, 188);
}
.icon-topic .path20:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-topic .path21:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(140, 193, 82);
}
.icon-topic .path22:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(178, 178, 178);
}
.icon-topic .path23:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(211, 151, 30);
}
.icon-topic .path24:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(232, 179, 33);
}
.icon-topic .path25:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(239, 242, 244);
}
.icon-topic .path26:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(232, 179, 33);
}
.icon-topic .path27:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(249, 200, 45);
}
.icon-topic .path28:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-topic .path29:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(232, 179, 33);
}
.icon-topic .path30:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(178, 178, 178);
}
.icon-topic .path31:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(66, 47, 44);
}
.icon-topic .path32:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(232, 179, 33);
}
.icon-topic .path33:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(93, 69, 61);
}
.icon-topic .path34:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(239, 242, 244);
}
.icon-topic .path35:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(239, 242, 244);
}
.icon-topic .path36:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(93, 69, 61);
}
.icon-topic .path37:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(106, 82, 78);
}
.icon-topic .path38:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(106, 82, 78);
}
.icon-topic .path39:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-topic .path40:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-topic .path41:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(93, 69, 61);
}
.icon-topic .path42:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(93, 69, 61);
}
.icon-topic .path43:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(178, 178, 178);
}
.icon-topic .path44:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(66, 47, 44);
}
.icon-renren:before {
  content: "\e996";
  color: #fac917;
}
.icon-practice_on_line .path1:before {
  content: "\e997";
  color: rgb(242, 244, 245);
}
.icon-practice_on_line .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(243, 156, 18);
}
.icon-practice_on_line .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(242, 244, 245);
}
.icon-practice_on_line .path4:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(243, 156, 18);
}
.icon-practice_on_line .path5:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(242, 244, 245);
}
.icon-practice_on_line .path6:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(243, 156, 18);
}
.icon-practice_on_line .path7:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(243, 156, 18);
}
.icon-practice_on_line .path8:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(242, 244, 245);
}
.icon-practice_on_line .path9:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(243, 156, 18);
}
.icon-practice_on_line .path10:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(24, 166, 137);
}
.icon-study_project .path1:before {
  content: "\e9a5";
  color: rgb(235, 197, 43);
}
.icon-study_project .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(214, 70, 68);
}
.icon-eval .path1:before {
  content: "\e9a7";
  color: rgb(117, 185, 202);
}
.icon-eval .path2:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eval .path3:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(203, 198, 211);
}
.icon-eval .path4:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(245, 186, 43);
}
.icon-eval .path5:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(245, 186, 43);
}
.icon-eval .path6:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(203, 198, 211);
}
.icon-eval .path7:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(229, 89, 39);
}
.icon-platform_display .path1:before {
  content: "\e9ae";
  color: rgb(255, 139, 153);
}
.icon-platform_display .path2:before {
  content: "\e9af";
  margin-left: -1.0009765625em;
  color: rgb(255, 208, 214);
}
.icon-common_service:before {
  content: "\e9b0";
}
.icon-common_comment:before {
  content: "\e9b1";
}
.icon-addr:before {
  content: "\e9b2";
}
.icon-app-system:before {
  content: "\e9b3";
}
.icon-arrow-down:before {
  content: "\e9b4";
}
.icon-arrow-right:before {
  content: "\e9b5";
}
.icon-arrow-up:before {
  content: "\e9b6";
}
.icon-authorization:before {
  content: "\e9b7";
}
.icon-be-employee:before {
  content: "\e9b8";
}
.icon-broadcast .path1:before {
  content: "\e9b9";
  color: rgb(35, 173, 229);
}
.icon-broadcast .path2:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(72, 207, 229);
}
.icon-broadcast .path3:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(253, 222, 128);
}
.icon-calling:before {
  content: "\e9bc";
  color: #009bdd;
}
.icon-data-structure:before {
  content: "\e9bd";
  color: #1296db;
}
.icon-delivery-resume .path1:before {
  content: "\e9be";
  color: rgb(255, 241, 217);
}
.icon-delivery-resume .path2:before {
  content: "\e9bf";
  margin-left: -1.0029296875em;
  color: rgb(241, 186, 9);
}
.icon-delivery-resume .path3:before {
  content: "\e9c0";
  margin-left: -1.0029296875em;
  color: rgb(255, 255, 255);
}
.icon-delivery-resume .path4:before {
  content: "\e9c1";
  margin-left: -1.0029296875em;
  color: rgb(241, 186, 9);
}
.icon-delivery-resume .path5:before {
  content: "\e9c2";
  margin-left: -1.0029296875em;
  color: rgb(241, 186, 9);
}
.icon-delivery-resume .path6:before {
  content: "\e9c3";
  margin-left: -1.0029296875em;
  color: rgb(255, 255, 255);
}
.icon-delivery-resume .path7:before {
  content: "\e9c4";
  margin-left: -1.0029296875em;
  color: rgb(241, 186, 9);
}
.icon-delivery-resume .path8:before {
  content: "\e9c5";
  margin-left: -1.0029296875em;
  color: rgb(241, 186, 9);
}
.icon-email:before {
  content: "\e9c6";
}
.icon-eval-tmpl:before {
  content: "\e9c7";
}
.icon-hexagon-line:before {
  content: "\eabf";
}
.icon-hexagon-straight:before {
  content: "\eabe";
}
.icon-hot-line:before {
  content: "\e9c8";
}
.icon-intelligent-analysis .path1:before {
  content: "\e9c9";
  color: rgb(159, 197, 62);
}
.icon-intelligent-analysis .path2:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(26, 160, 207);
}
.icon-intelligent-exam .path1:before {
  content: "\e9cb";
  color: rgb(187, 222, 251);
}
.icon-intelligent-exam .path2:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-intelligent-exam .path3:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-intelligent-exam .path4:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-intelligent-exam .path5:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(67, 160, 71);
}
.icon-intelligent-exam .path6:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-intelligent-placement .path1:before {
  content: "\e9d1";
  color: rgb(252, 241, 1);
}
.icon-intelligent-placement .path2:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(252, 241, 1);
}
.icon-intelligent-placement .path3:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(252, 241, 1);
}
.icon-intelligent-placement .path4:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(252, 241, 1);
}
.icon-intelligent-placement .path5:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(239, 56, 63);
}
.icon-intelligent-placement .path6:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(253, 62, 67);
}
.icon-intelligent-placement .path7:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 178, 3);
}
.icon-intelligent-placement .path8:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(73, 168, 255);
}
.icon-intelligent-placement .path9:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(255, 60, 61);
}
.icon-intelligent-select-course .path1:before {
  content: "\e9da";
  color: rgb(204, 200, 213);
}
.icon-intelligent-select-course .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(59, 195, 246);
}
.icon-intelligent-select-course .path3:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(38, 164, 211);
}
.icon-intelligent-select-course .path4:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(255, 196, 69);
}
.icon-intelligent-select-course .path5:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(249, 218, 197);
}
.icon-intelligent-select-course .path6:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(204, 200, 213);
}
.icon-intelligent-select-course .path7:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-intelligent-select-course .path8:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(59, 195, 247);
}
.icon-intelligent-select-seat:before {
  content: "\e9e2";
  color: #2990cb;
}
.icon-live-interview:before {
  content: "\e9e3";
}
.icon-management:before {
  content: "\e9e4";
}
.icon-qq:before {
  content: "\e9e5";
}
.icon-recruitment:before {
  content: "\e9e6";
}
.icon-select-post:before {
  content: "\e9e7";
  color: #60b8fe;
}
.icon-btn-i-dropdowm:before {
  content: "\e9a1";
}
.icon-form-correct:before {
  content: "\e90d";
}
.icon-form-error:before {
  content: "\e911";
}
.icon-form-tip:before {
  content: "\e900";
}
.icon-i-email:before {
  content: "\e951";
}
.icon-i-exit:before {
  content: "\e9a0";
  color: #d81e06;
}
.icon-i-message:before {
  content: "\e9a2";
  color: #009dd9;
}
.icon-i-phone:before {
  content: "\e957";
}
.icon-i-setting:before {
  content: "\e97f";
  color: #f8d066;
}
.icon-i-space:before {
  content: "\e95a";
  color: #fec834;
}
.icon-input-password:before {
  content: "\e90f";
}
.icon-input-user:before {
  content: "\e9a4";
}
