/* COMMON
-------------------------- */
.bg-gray {
    background-color: #eee;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.loading.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .85);
    z-index: 1000;
    text-align: center;
}
.loading.active:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    margin: -21px 0 0 -21px;
    background: url(./../../image/loading.svg);
    animation: loading-rotate 2s linear infinite;
}
.loading.active:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    height: 42px;
    margin-top: 21px;
    transform: translateX(-50%);
    font-size: 18px;
    color: #23b8ff;
    line-height: 2;
}
body > .loading {
    position: fixed;
}
@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* HEADER
-------------------------- */
.header {
    position: relative;
    height: 72px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    background-color: #fff;
}
.header .header-logo {
    height: 48px;
    margin-top: 12px;
}
.header .header-logoImg {
    height: 100%;
}


/* FORM
-------------------------- */
.form-box {
    font-size: 14px;
    line-height: 32px;
}
.form-item {
    margin-bottom: 22px;
}
.form-item:before,
.form-item:after {
    display: table;
    content: "";
}
.form-item[required] .form-item__label:before {
    content: '*';
    margin-right: 4px;
    color: #ff4949;
}
.form-box .form-item__label {
    float: left;
    width: 6em;
    padding-right: 12px;
    text-align: right;
    box-sizing: border-box;
}
.form-box .form-item__content {
    position: relative;
    margin-left: 6em;
}
.form-item .error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px;
    font-size: 12px;
    line-height: 1;
    color: #f56c6c;
}
.form-item-input,
.form-item-select {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.form-item-select:after {
    content: '\2335';
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #ccc;
    transition: transform .25s ease;
}
.form-item-select.is-focus:after,
.form-item-select.combo-focus:after,
.form-item-select.combo-open:after {
    transform: rotate(180deg);
}
.form-input__inner {
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 15px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    line-height: 1;
    background-color: #fff;
    box-sizing: border-box;
    border-color .2s cubic-bezier(.645,.045,.355, 1);
}
.form-item-select.is-focus .form-input__inner,
.form-input__inner:hover,
.form-input__inner:focus {
    border-color: #23b8ff;
}
.form-button--default {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #23b8ff;
    border: 1px solid #23b8ff;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.form-input__inner::-webkit-input-placeholder,
.form-input__inner:-moz-placeholder,
.form-input__inner::-moz-placeholder,
.form-input__inner:-ms-input-placeholder {
  color: #bbb;
}


/* ICON
-------------------------- */
.icon-prompt {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./../../image/prompt.png);
    background-size: cover;
    overflow: hidden;
}