.related-list{
    width: 274px;
    h4{
        font-size: 16px;
        padding: 15px;
        .btn-more{
            cursor: pointer;
            color: #999;
            &:hover{
                color: #d00;
            }
        }
    }
    .list-item-title{
        margin-top: 5px;
        .msg{
            color: #999;
            font-size: 12px;
            span{
                margin-right: 20px;
            }
            i{
                margin-right: 10px;
                font-size: 12px;
                color: #999;
            }
        }
    }
}