@import './vars.scss';
$category-title-width: 5.5em;
$category-item-margin: 1em;
.category-box {
    width: 100%;
    margin-bottom: $category-item-margin;
    font-size: 14px;
    line-height: 2;

    .category-title {
        float: left;
        width: $category-title-width;
        font-weight: 600;
    }
    .category-list {
        margin-left: $category-title-width;
    }

    .category-list-item {
        float: left;
        padding: 0 10px;
        margin-right: 8px;
        font-size: 14px;
        line-height: 2;
        cursor: pointer;
        &:hover {
            color: $default-color;
        }
        &.active {
            background-color: $default-color;
            color: #fff;
        }
    }
}

@each $color-key, $color-value in $color-data {
    .theme-#{$color-key} {
        .category-box {
            .category-list-item {
                &:hover {
                    color: $color-value;
                }
                &.active {
                    background-color: $color-value;
                    color: #fff;
                }
            }
        }
    }
}