{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 10 Chrome versions",
          "last 10 Firefox versions",
          "Safari >= 6",
          "ie > 8"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
